AccountTraker/AccountTraker.Data/bin/
AccountTraker/AccountTraker.Data/obj/
AccountTraker/packages/
AccountTraker/AccountTraker.Web/bin/AccountTraker.Data.dll
AccountTraker/AccountTraker.Web/bin/
AccountTraker/AccountTraker.Web/obj/
AccountTraker/AccountTraker.Models/bin/
AccountTraker/AccountTraker.Models/obj/
